### Unit 2: Lesson 4: Drill: Multivariable Regression: New York Crime Data
Saheed Tijani

Dec 2018

In [176]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

In [177]:
#grab the raw data

data_raw = pd.read_csv('table_8_offenses_known_to_law_enforcement_new_york_by_city_2013_csv.csv', header=None)

#### Data cleaning

In [178]:
#remove data rows(0,1,2 and 3), and the last 3 rows. This row are only describe the data. They do not have statistical values.
#drop the rape1 col as well as it has not observation.
data_cleaning = data_raw.drop(data_raw.index[:5]).drop(data_raw.index[-3:])
#.drop('rape_1', axis=1)

#name data columns
data_cleaning.columns = ['city', 'population', 'violent_crime', 'murder_manslaughter',
       'rape_1', 'rape_2', 'robbery', 'aggravated_assault', 'property_crime', 
       'burglary', 'larceny_theft', 'mv_theft', 'arson_3']

#drop the rape1 col as it has no observation.
data_cleaning = data_cleaning.drop('rape_1', axis=1)

# Remove commas in numbers in relevant cols
data_cleaning['population'] = data_cleaning['population'].str.replace(',', '')
data_cleaning['robbery'] = data_cleaning['robbery'].str.replace(',', '')

#data is now clean and ready for feature engineering, let's name the clean data
data_cleaned = data_cleaning

#overview overview of clean data
data_cleaned.head()

,city,population,violent_crime,murder_manslaughter,rape_2,robbery,aggravated_assault,property_crime,burglary,larceny_theft,mv_theft,arson_3
5,Adams Village,1861,0,0,0,0,0,12,2,10,0,0
6,Addison Town and Village,2577,3,0,0,0,3,24,3,20,1,0
7,Akron Village,2846,3,0,0,0,3,16,1,15,0,0
8,Albany,97956,791,8,30,227,526,"4,090",705,"3,243",142,NaN
9,Albion Village,6388,23,0,3,4,16,223,53,165,5,NaN

### Creating Features

In [179]:
#create the population-square feature
data_cleaned['population_square'] =  (data_cleaned['population']).astype(int)**2

#create a function to categrize continous data
def cont_2_cat(col):
    for element in col:
        if int(element) > 1:
            return 1
        else:
            return 0
#apply our cont_2_cat function to catgorize data_cleaned.murder_manslaughter and create feature with the result       
data_cleaned['murder_manslaughter_categorical'] = data_cleaned.murder_manslaughter.apply(cont_2_cat)

#use the npwhere method to categorize roberry and create a feature with it
#I could'nt figure out why - feature_data['robbery_categorical'] = np.where(int(data_cleaned['robbery']) > 1 ,1,0) did not work
data_cleaned['robbery_categorical'] = np.where((data_cleaned['robbery']).astype(int) > 1 ,1,0)

#final data overview
data_cleaned

,city,population,violent_crime,murder_manslaughter,rape_2,robbery,aggravated_assault,property_crime,burglary,larceny_theft,mv_theft,arson_3,population_square,murder_manslaughter_categorical,robbery_categorical
5,Adams Village,1861,0,0,0,0,0,12,2,10,0,0,3463321,0,0
6,Addison Town and Village,2577,3,0,0,0,3,24,3,20,1,0,6640929,0,0
7,Akron Village,2846,3,0,0,0,3,16,1,15,0,0,8099716,0,0
8,Albany,97956,791,8,30,227,526,"4,090",705,"3,243",142,NaN,1005443344,1,1
9,Albion Village,6388,23,0,3,4,16,223,53,165,5,NaN,40806544,0,1
10,Alfred Village,4089,5,0,0,3,2,46,10,36,0,NaN,16719921,0,1
11,Allegany Village,1781,3,0,0,0,3,10,0,10,0,0,3171961,0,0
12,Amherst Town,118296,107,1,7,31,68,"2,118",204,"1,882",32,3,1109041728,0,1
13,Amityville Village,9519,9,0,2,4,3,210,16,188,6,1,90611361,0,1
14,Amsterdam,18182,30,0,0,12,18,405,99,291,15,0,330585124,0,1
15,Arcade Village,2053,0,0,0,0,0,39,3,35,1,0,4214809,0,0
16,Ardsley Village,4523,5,0,0,3,2,33,4,28,1,0,20457529,0,1
17,Asharoken Village,658,0,0,0,0,0,2,0,2,0,0,432964,0,0
18,Attica Village,2522,2,0,0,0,2,5,0,4,1,0,6360484,0,0
19,Auburn,27270,96,1,20,22,53,859,132,721,6,NaN,743652900,0,1
20,Avon Village,3333,1,0,0,1,0,25,3,20,2,NaN,11108889,0,0
21,Baldwinsville Village,7473,5,0,0,1,4,88,10,77,1,0,55845729,0,0
22,Ballston Spa Village,5418,8,0,0,3,5,94,16,78,0,1,29354724,0,1
23,Batavia,15374,57,0,7,13,37,559,103,454,2,NaN,236359876,0,1
24,Bath Village,5733,15,0,1,3,11,191,32,157,2,2,32867289,0,1
25,Bedford Town,17627,5,0,0,1,4,156,26,127,3,NaN,310711129,0,0
26,Bethlehem Town,34243,13,0,0,3,10,442,50,388,4,NaN,1172583049,0,1
27,Binghamton,46304,284,3,19,101,161,"2,349",525,"1,767",57,NaN,2144060416,1,1
28,Black River,1410,0,0,0,0,0,14,2,12,0,0,1988100,0,0
29,Blooming Grove Town,12001,8,0,1,0,7,99,20,72,7,NaN,144024001,0,0
30,Bolivar Village,1022,1,0,0,0,1,4,2,2,0,0,1044484,0,0
31,Bolton Town,2325,2,0,0,0,2,24,4,20,0,0,5405625,0,0
32,Boonville Village,2054,1,0,0,0,1,20,6,14,0,0,4218916,0,0
33,Brant Town,2065,4,0,0,1,3,31,9,20,2,0,4264225,0,0
34,Brewster,2358,0,0,0,0,0,13,3,10,0,0,5560164,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,Tupper Lake Village,3642,3,0,0,0,3,83,22,59,2,NaN,13264164,0,0
324,Tuxedo Park Village,615,0,0,0,0,0,0,0,0,0,0,378225,0,0
325,Ulster Town,12195,14,0,3,2,9,437,25,410,2,NaN,148718025,0,1
326,Utica,61686,361,7,27,102,225,"2,528",449,"1,997",82,NaN,-489804700,1,1
327,Vestal Town,27980,16,0,2,6,8,571,39,523,9,NaN,782880400,0,1
328,Walden Village,6887,18,1,2,1,14,142,13,124,5,NaN,47430769,0,0
329,Wallkill Town,27940,40,0,3,16,21,767,91,650,26,1,780643600,0,1
330,Walton Village,3012,6,0,1,0,5,68,18,50,0,NaN,9072144,0,0
331,Warsaw Village,3453,6,0,1,0,5,78,5,73,0,0,11923209,0,0
332,Washingtonville Village,5828,2,0,0,1,1,58,5,51,2,0,33965584,0,0
333,Waterford Town and Village,8392,4,0,0,0,4,59,6,52,1,0,70425664,0,0
334,Waterloo Village,5175,11,0,0,3,8,194,23,169,2,NaN,26780625,0,1
335,Watertown,28179,109,0,12,16,81,"1,165",169,953,43,NaN,794056041,0,1
336,Watervliet,10245,26,1,3,11,11,242,58,163,21,NaN,104960025,0,1
337,Watkins Glen Village,1862,6,0,0,0,6,92,10,80,2,NaN,3467044,0,0
338,Waverly Village,4337,5,0,0,1,4,54,9,41,4,NaN,18809569,0,0
339,Webster Town and Village,43777,21,0,2,3,16,469,101,361,7,NaN,1916425729,0,1
340,Weedsport Village,1797,0,0,0,0,0,25,5,20,0,0,3229209,0,0
341,Wellsville Village,4574,11,0,1,0,10,164,32,129,3,1,20921476,0,0
342,Westhampton Beach Village,1732,2,0,0,0,2,44,4,37,3,0,2999824,0,0
343,West Seneca Town,44821,35,1,1,9,24,896,166,710,20,0,2008922041,0,1
344,Whitehall Village,2604,6,0,0,0,6,62,12,49,1,NaN,6780816,0,0
345,White Plains,57559,78,1,3,28,46,"1,232",77,"1,134",21,NaN,-981928815,0,1
346,Whitesboro Village,3733,4,0,0,0,4,36,14,21,1,0,13935289,0,0
347,Whitestown Town,9141,0,0,0,0,0,77,13,61,3,0,83557881,0,0
348,Woodbury Town,10685,3,0,0,2,1,541,9,529,3,NaN,114169225,0,1
349,Woodridge Village,829,7,0,0,0,7,17,8,9,0,0,687241,0,0
350,Woodstock Town,5931,2,0,0,0,2,58,13,45,0,NaN,35176761,0,0
351,Yonkers,199134,"1,036",6,25,390,615,"2,368",470,"1,662",236,10,999644292,1,1
352,Yorktown Town,36643,15,0,0,2,13,334,45,287,2,NaN,1342709449,0,1